footer{ 
    display: flex;
    justify-content: left;
    background: #218F76;
    padding: 7px;
    padding-top: 25px;
    padding-bottom: 40px;
    color: #ffffff;
		a{
			text-decoration: none;
			&:link{
				color: white;
			}
			&:visited{
				color: white;
			}
		}
    ul{
        font-weight: 600;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-self: center;
        margin: 0px 10px;
        li{
            margin: 4px;
            margin-right: 12px;
            list-style: none;
        }
    }
    p{
        font-weight: 900;
        display: flex;
        align-self: center;
        margin: 3px 10px;
    }
}